* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:not(i) {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #6b6b47;
}

.container {
    background-color: #3d3d29;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(77, 77, 51);
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #a3a375;
}

.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #a3a375;
    border: none;
    outline: none;
    color: #c3c3a2;
    border-radius: 5px;
}

.result {
    position: relative;
}

.result h3 {
    font-size: 30px;
    color: #5c5c3d;
}

.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.result button {
    background-color: transparent;
    color: #5c5c3d;
    border: none;
    outline: none;
    font-size: 18px;
}

.result .details {
    display: flex;
    gap: 10px;
    color: #7a7a52;
    margin: 5px 0 20px 0;
    font-size: 14px;
}


.word-meaning {
    color: #8a8a5c;
}

.word-example {
    color: #8a8a5c;
    font-style: italic;
    border-left: 5px solid #5c5c3d;
    padding-left: 20px;
    margin-top: 30px;
}

.error {
    margin-top: 80px;
    text-align: center;
}

